@charset "UTF-8";

@import '_variables';

/*  Reseteo CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* boder-box se coloca para que los valores de tamaño sean exactamente esos (no sumen)*/
}

/* Etiquetas de Estilo ####################################################*/
/* Lineamientos GENERALES*/


h1 {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

h2 {
    color: #1b1a1a;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

h3 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

p {
    color: #070707;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.marker-typography {
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-style: normal;
}



/* HEADER *******************************************/
/* menu de navegacion*/
.navbar__container {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}


.navbar {
    margin: 0 auto;
    padding: 1px 10vw 1px 10vw;
    background: $color_theme;

    &__brand {
        font-weight: 700;
    }

    &__logo {
        width: 70px;
        transition: transform 1s;
    }

    &__logo:hover {
        transform: rotate(360deg);
    }


    &__titulos {
        padding-left: 30px;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 2px;
        transition: transform 0s;
    }

    &__titulos:hover {
        transform: scale(1.1);
    }
}


/* modifico clase de bootstrap*/
.navbar-nav {
    width: 100%;
    padding-left: 50px;
    justify-content: space-between;
}


.titulos_secciones {
    background-color: #999;
    background: $color_theme;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: auto;
}


/* FOOTER *************************************************/
.footer {
    &__redes {
        background-color: black;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
        align-items: center;
        padding: 0 10vw 0 10vw;
        color: white;
    }

    &__icons {
        width: 40px;
        height: 40px;
        transition: transform 1s;
    }

    &__icons:hover {
        transform: scale(1.1) rotate(360deg);
    }
}




/* SECCION INDEX ***************************************************/
.portada {

    &__container {
        width: 100%;
        margin: auto;
    }

    &__parrafo {
        width: 70%;
        color: #020202;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1.5rem;
    }
}

.portadacards {
    justify-content: space-evenly;
}

.portadafotos {
    &__title {
        color: rgb(114, 251, 226);
        font-family: 'Permanent Marker', cursive;
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 2px rgb(252, 156, 246);
    }

    &__subtitle {
        color: rgb(222, 156, 246);
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 2px 2px 3px rgba(114, 251, 226, 0.863);
    }

    &__img {
        background: $color_theme;
        box-shadow: 2px 2px 5px #999;

    }

    &__animacion {
        transition: transform 0.5s;
    }

    &__animacion:hover {
        transform: scale(1.1, 1.1);
    }

}


.carretel {
    &__fondo {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__titulo {
        color: rgb(114, 251, 226);
        font-family: 'Permanent Marker', cursive;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 1em #fc9cf6, 0 0 0.2em #fc9cf6;
    }

    &__subtitulo {
        color: #ff47f3;
        font-family: 'Montserrat', cursive;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 1em #72fbe2, 0 0 0.2em #72fbe2;
    }
}

/* Modificacion de clase predefinida */
.card {
    background-color: rgba(255, 255, 255, 0);
    border: hidden;
    margin-top: 10px;
}

.card-img-overlay {
    align-content: center;
    text-shadow: 2px 2px 5px #030303;
}

.carousel-item img {
    height: $carousel_size;
    object-fit: cover;
}

/* SECCION TRAYECTORIA ###################################################### */
.trayectoria {
    &__container {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    &__filas {
        opacity: 1;
        transition: opacity;
        border-bottom: 1px solid rgb(230, 230, 230);
    }

    &__filas:hover {
        background: linear-gradient(90deg, rgba(114, 251, 227, 0.863183) 0%, rgba(252, 156, 245, 0.43181) 33%, rgba(105, 105, 105, 0.466) 100%);
        border-bottom: 0px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        opacity: 1;
        font-size: 110%;
        font-weight: bolder;
    }

    &__itemcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    &__img {
        overflow: hidden;
        width: 100px;
        height: 100px;
    }

    &__premio {
        overflow: hidden;
        height: 70px;
    }

    &__programa {
        font-weight: 700;
        font-size: 1em;
    }

    &__productora {
        font-style: italic;
        font-size: 0.9em;
    }

    &__rol {
        font-style: normal;
        font-size: 0.9em;
    }

    &__fecha {
        font-size: 0.9em;
    }

    &__link {
        width: 40px;
    }
}


/* SECCION BIO ############################################################# */
.biocontainer {
    width: 80%;
    margin: auto;
    margin-top: 20px;


    &__parrafo {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        align-items: center;
    }

    &__foto {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__frase {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        font-family: 'Satisfy', cursive;
        font-size: 1.5em;
        font-style: italic;
        letter-spacing: 1px;
        text-align: center;
    }

    &__firma {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        font-family: 'Satisfy', cursive;
        font-size: 2em;
        font-style: italic;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: right;
    }
}



/* SECCION GALERIA ############################################################# */

.galeria {
    &__container {
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }

    &__text {
        background: $color_theme;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    &__title {
        width: 60%;
        text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em #72fbe2, 0 0 0.2em #72fbe2;
    }


    &__text:hover {
        opacity: 1;
    }
}



/* SECCION CONTACTO ############################################################# */
.contacto {
    &__container {
        background-color: rgb(230, 230, 230);
        width: 90%;
        margin: auto;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__formulario {
        height: auto;
    }

    &__comentariosize {
        height: 350px;
    }

    &__botones {
        padding-top: 20px;
        margin: auto;
        text-align: center;
    }

    &__botoncolor {
        background: $color_theme;
        color: blue;
    }

}


/* MEDIAS QUERIESSSSSSS */
/* Clase para ocultar elementos en pantallas mas chicas */
@media (max-width: 600px) {
    .element-hide {
        display: none;
    }
}

/* No se si es correcto para evitar que se superponga el navegador fixed con el main */

@media (max-width: 600px) {
    .main_media {
        margin-top: 5.4rem;
    }
}

@media (min-width: 600px) {
    .main_media {
        margin-top: 5.4rem;
    }
}